<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PizzaSiQ</title>
    <link rel="shortcut icon" href="/public/images/pizza.svg" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css">
  </head>
  <body>
    
    <header>
      <div class="logo">
        <img src="/public/images/pizza.svg" alt="Logo Pizza">
        <h1>Pizza<span>SiQ</span></h1>
      </div>

      <a target="_blank" href="#">
        Atendimento Direto
        <img src="/public/images/whatsapp.svg" alt="Entrar em contato WhatsApp">
      </a>
    </header>

    <div class="menu">
      <div class="box-buttons">
        <button class="active" type="button">
          <img src="/public/images/pizza.svg" alt="Pizzas" />
          Pizzas
        </button>
        <button type="button">
          <img src="/public/images/bebidas.svg" alt="Bebidas" />
          Bebidas
        </button>
      </div>
    </div>

    <section class="collection-pizzas">
      <div class="item">
        <div class="container-item">
          <div class="header-item">
            <img src="/public/images/menu.svg" alt="Menu" />
            <div class="title">
              <h1>Calabresa</h1>
              <small>Calabresa, muçarela e presunto.</small>
            </div>
          </div>

          <img class="img-item" src="/public/images/calabresa.jpg" alt="Imagem Pizza" />

          <div class="footer-item">
            <h1>R$ 23,50</h1>
            <button type="button">
              <img src="/public/images/mais.svg" alt="Adicionar ao carrinho" />
              Adicionar ao carrinho
            </button>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="container-item">
          <div class="header-item">
            <img src="/public/images/menu.svg" alt="Menu" />
            <div class="title">
              <h1>Chocolate</h1>
              <small>Chocolate e cereja.</small>
            </div>
          </div>

          <img class="img-item" src="/public/images/chocolate.jpg" alt="Imagem Pizza" />

          <div class="footer-item">
            <h1>R$ 23,50</h1>
            <button type="button">
              <img src="/public/images/mais.svg" alt="Adicionar ao carrinho" />
              Adicionar ao carrinho
            </button>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="container-item">
          <div class="header-item">
            <img src="/public/images/menu.svg" alt="Menu" />
            <div class="title">
              <h1>Frango Catupiry</h1>
              <small>Frango desfiado e muçarela.</small>
            </div>
          </div>

          <img class="img-item" src="/public/images/frango-catupiry.png" alt="Imagem Pizza" />

          <div class="footer-item">
            <h1>R$ 23,50</h1>
            <button type="button">
              <img src="/public/images/mais.svg" alt="Adicionar ao carrinho" />
              Adicionar ao carrinho
            </button>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="container-item">
          <div class="header-item">
            <img src="/public/images/menu.svg" alt="Menu" />
            <div class="title">
              <h1>Portuguesa</h1>
              <small>Ovos, muçarela e vegetais.</small>
            </div>
          </div>

          <img class="img-item" src="/public/images/portuguesa.jpg" alt="Imagem Pizza" />

          <div class="footer-item">
            <h1>R$ 23,50</h1>
            <button type="button">
              <img src="/public/images/mais.svg" alt="Adicionar ao carrinho" />
              Adicionar ao carrinho
            </button>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="container-item">
          <div class="header-item">
            <img src="/public/images/menu.svg" alt="Menu" />
            <div class="title">
              <h1>Vegetariana</h1>
              <small>Muçarela, tomate e vegetais.</small>
            </div>
          </div>

          <img class="img-item" src="/public/images/portuguesa.jpg" alt="Imagem Pizza" />

          <div class="footer-item">
            <h1>R$ 30,00</h1>
            <button type="button">
              <img src="/public/images/mais.svg" alt="Adicionar ao carrinho" />
              Adicionar ao carrinho
            </button>
          </div>
        </div>
      </div>
    </section>


  </body>
</html>